version: "3.9"

services:
  api:
    build: .
    container_name: rag_api
    ports:
      - "3000:3000"
    depends_on:
      - qdrant
    env_file:
      - .env
    environment:
      QDRANT_URL: http://qdrant:6333

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  qdrant_data:
